* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Imagenes/Lo\ siento.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 50vh;
    background-position: 500px;
    
}

.titulo {
    display: block;
    width: 700px;
    height: 300px;
    font-family: 'Silkscreen', cursive;
    font-size: 2rem;
    margin-left: 50px;
    margin-top: 20px;
}

fieldset {
    display: block;
    margin: 20px 50px;
    padding: 20px;
    width: 700px;
    height: 220px;
}

.volver {
    display: block;
    margin: 20px 50px;
}


@media screen and (max-width: 900px) {

    body {
        background-image: url(../Imagenes/Lo\ siento.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        
    }

    .titulo {
        display: block;
        width: 350px;
        height: 150px;
        font-family: 'Silkscreen', cursive;
        font-size: 1rem;
        margin-left: 25px;
        margin-top: 10px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        margin: 10px 25px;
        padding: 10px;
        width: 350px;
        height: 250px;
    }

    .volver {
        display: block;
        margin: 10px 25px;
    }
    
}

